<%= form_with(model: found_report) do |form| %>
  <% if found_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(found_report.errors.count, "error") %> prohibited this found_report from being saved:</h2>

      <ul>
        <% found_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :location last seen %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :animal %>
    <%= form.text_field :animal %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label : any additional information %>
    <%= form.text_field :additionalInfo %>
  </div>

  <div class="field">
    <%= form.label :reported by %>
    <%= form.text_field :reporter %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
