<%= form_with(model: lost_report) do |form| %>
  <% if lost_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lost_report.errors.count, "error") %> prohibited this lost_report from being saved:</h2>

      <ul>
        <% lost_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :animal %>
    <%= form.text_field :animal %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :additionalInfo %>
    <%= form.text_field :additionalInfo %>
  </div>

  <div class="field">
    <%= form.label :reporter %>
    <%= form.text_field :reporter %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
