
<%= simple_form_for(@pet_report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :reporting, :collection => %w[Missing Found Stolen] %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.input :animal, :collection => %w[Dog Cat] %>
    <%= f.input :breed %>
    <%= f.input :colour %>
    <%= image_tag f.object.image_url if f.object.cached_image_data %> <!--if image is cached, display it so user is aware-->
    <%= f.hidden_field :image, value: @pet_report.cached_image_data %> <!--cache image data: prevents image being lost if form fails to upload (validation failure etc.)-->
    <%= f.file_field :image %>
    <p></p>
    <%= f.input :additionalInfo, label:'Additional Info', placeholder: "include any other relevant info here such as pet's name, sex, temperment, are they microchipped etc." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
