<p id="notice"><%= notice %></p>

<!--<h1>Pet Reports</h1>

<table class="table table-hover">
  <thead>
    <tr class="table-secondary">
      <th>Reported</th>
      <th>Date</th>
      <th>Location</th>
      <th>Animal</th>
      <th>Breed</th>
      <th>Colour</th>
      <th>Image data</th>
      <th>Additional Info</th>
      <th>Reported By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_reports.each do |pet_report| %>
      <tr>
        <td><%= pet_report.reporting %></td>
        <td><%= pet_report.date %></td>
        <td><%= pet_report.location %></td>
        <td><%= pet_report.animal %></td>
        <td><%= pet_report.breed %></td>
        <td><%= pet_report.colour %></td>
        <td><%= image_tag pet_report.image_url %><td>
        <td><%= pet_report.additionalInfo %></td>
        <td><%= pet_report.reportedBy %></td>
        <td><%= link_to 'Show', pet_report %></td>
        <td><%= link_to 'Edit', edit_pet_report_path(pet_report) %></td>
        <td><%= link_to 'Destroy', pet_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->

<br>
<div style="text-align: center; padding: 5%; ">
<%= link_to 'Report a Lost or Found Pet', new_pet_report_path, class:"btn btn-primary" %>
</div>
<div style="text-align: center; ">
<%= image_tag('mainLogo.png', style: "height: 270px; width: 270px; ") %>
</div>