<!DOCTYPE html>
<html>
  <head>
    <title>PetRescue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- render the navbar partial -->
  <%= render 'layouts/navbar/nav' %>

  <div class='container', style='position: relative; min-height: 100vh; '>

    <!-- bootstrap messages -->
    <%= bootstrap_flash %>

    <!-- display application within this container -->
    <%= yield %>

  </div>
  <!--<%= render 'layouts/footer/footer' %>-->

  </body>
</html>
